[submodule "thirdparty/rapidobj"]
	path = thirdparty/rapidobj
	url = https://github.com/guybrush77/rapidobj
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt
